<div class="header">
        <div class="nav">
            <a href="#" class="nav_logo">📘PlacePrep</a>
            <ul class="items">
                <li class="item">
                    <a href="#" class="nav_links">HOME</a>
                    <a href="#" class="nav_links">COURSE</a>
                    <a href="http://localhost:8080/about" class="nav_links">ABOUT</a>
                    <a href="#" class="nav_links">CONTACT</a>
                </li>
            </ul>
            <button class="button" id="show-login">Login</button>
        </div>
    </div>

</header>