<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Thank You</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <section class="sec">
 <div class="thankyou-container">
    <h1>Thanks for visiting!</h1>
    <p>The course will be available soon.</p>
    <a href="index.html" class="back-link">← Go Back</a>
  </div>
    </section>
  
</body>
</html>
